body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 98%;
}

nav {
  text-align: center;
  font-size: 2rem;
  background: linear-gradient(35deg,teal 50%,black 90%);
  color: white;
  border-bottom: solid 5px black;
  padding: 5px;
  text-decoration: underline;
}

.legend {
  background: beige;
  padding: 0 5px;
  border-radius: 5px;

}

.legend h1 {
  margin: 0;
}

.legend h3 {
  margin: 0;
}